.dashboardBody{
    width: 100%;
    display: flex;
    position: relative;
    h1 {
        font-size: 2em;
    }
    .dashboard{
        width: 90%;
        margin: auto;
        .gaph_users{
            display: flex;
            flex-wrap: wrap;
            .graph {
                width: 80%;
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;
            }
        }
        .recharts-legend-wrapper{
            justify-content: end;
        }
        .infos{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .graph{
                width: 80%; 
            }
        }
        
    }
    #prenom{
        color:red
    }
}