.dashboardBody{
    min-width: 1024px;
    min-height: 720px;
    display: flex;
    position: relative;
    h1 {
        font-size: 2em;
        margin-top: 7px;
        margin-bottom: 7px;
    }
    .dashboard{
        width: 90%;
        margin: 10px auto auto auto;
        box-sizing: border-box;
        .gaph_users{
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            width: 100%;
            .graph {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                flex-wrap: wrap;
                width: 75%;
                .graph__haut{

                }
                .graph__bas {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;
                }
            }            
        }
        .recharts-legend-wrapper{
            justify-content: end;
        }
        .infos{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .graph{
                width: 80%; 
            }
        }
        
    }
    #prenom{
        color:red
    }
}